input.ng-invalid.ng-touched {
    border: 1px solid red
}

input.ng-valid.ng-touched {
    border: 1px solid green
}

select.ng-invalid.ng-touched {
    border: 1px solid red
}

select.ng-valid.ng-touched {
    border: 1px solid green
}