<div load="iconeCarrinho()" class="fixed-top">
    <nav class="navbar navbar-light bg-light">
        <div class="row  container">
            <div></div>

            <div class=" col-2 col-sm-2   d-sm-block d-md-none  ">
                <a routerLink="/ordem-compra"><img src="../../assets/carrinho.png" /></a>
            </div>

            <div class=" col-md-3  d-none d-md-block d-sm-none  col-sm-2 ">
                <a class="navbar-brand " routerLink="/">
                    <img src="../../assets/logo.png" />
                </a>
            </div>


            <!-- #termoDaPesquisa é uma variável sendo passada 
          como parâmetro para função pesquisa em keyup -->
            <div class="col-md-6     ">
                <input type="text" class="   form-control" placeholder="Pesquise por ofertas" #termoDaPesquisa (keyup)="pesquisa(termoDaPesquisa.value)">

                <div id="listaGrupo" class="list-group">
                    <ul *ngFor="let pesquisa of oferta| async">
                        <a [routerLink]="['/oferta',pesquisa.id]" (click)="zerarPesquisa()">
                            <li>{{pesquisa.titulo}}</li>
                        </a>


                    </ul>
                </div>



            </div>




            <div class="col-md-2 	d-none  d-sm-none d-md-block  ">
                <a routerLink="/ordem-compra"><img src="../../assets/carrinho.png" /></a>
            </div>



        </div>
    </nav>

    <div class="menu">
        <div class="container">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link d-sm-block d-md-none   " routerLinkActive="active" routerLink="/">home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/restaurantes">Restaurantes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/diversao">Diversão</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="banner">
    <img src="../../assets/banners/img_2.jpg" />
</div>